---
import Section from "@/components/Section.astro";
import { languages } from "@cv";
---

<Section title="Idiomas">
  <div class="container">
    <div class="container-lang">
      <ul>
        {
          languages.map(({ language, fluency }) => {
            return (
              <li>
                {language} - {fluency}
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background-color: #eee;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
