---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
import { languages } from "@cv"
---

<Section title="Habilidades">
  <div class="container">
    <div class="container-skills">
      <ul>
        {
          skills.map(({ name }) => {
            return <li>{name}</li>;
          })
        }
      </ul>
    </div>
      <div class="container-lang">
        <h3>Idiomas</h3>
        <ul>
          {
            languages.map(({ language, fluency }) => {
             return <li>{language} - {fluency}</li>;
           })
         }
        </ul>
      </div>
  </div>
</Section>

<style>
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background-color: #eee;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  .container-lang{
    display: flex;
    flex-direction: column;
  }
  .container-lang h3{
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
